---
title:      Form
---
<div class="bg-white">
  <div class="content">

    <div class="panel panel--grey">
      <div class="form form--white form--light">

        <h3 class="v2-title v2-title--3">
        White form title
        </h3>

        <div class="form__control control control--invalid">
          <label class="control__label label">
            Your name
          </label>
          <div class="control__input">
            <input class="input input--text"/>
            <i class="control__alert v2-icon v2-icon--smallest v2-icon--warning-inverse"></i>
          </div>
          <div class="control__message alert-message alert-message--error">
            You did it wrong!
          </div>
        </div>

        <div class="form__control control control--valid">

          <label class="control__label label">
            Select box label
          </label>

          <p class="control__support support">
            Supporting text
          </p>

          <div class="control__input control__input--shrink">
            <div class="input input--select">
              <select>
                <option>Test option 1</option>
                <option>Test option 2</option>
              </select>
            </div>
            <i class="control__alert control__alert--outside v2-icon v2-icon--smallest v2-icon--tick"></i>
          </div>

        </div>

        <div class="form__control control">
          <label class="control__label label">
            Date of birth label
          </label>
          <input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
          </input>
        </div>
        <div class="form__control control control--valid">
          <label class="control__label label">
            Date Label
          </label>
          <div class="control__input control__input--shrink">
            <input class="input input--date" value="12/11/1978" placeholder="dd/mm/yyyy"/>
            <i class="control__alert v2-icon v2-icon--smallest v2-icon--tick"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="panel">

      <div class="panel-form-support">
        <h3 class="v2-title v2-title--4">
        Form support text
        </h3>
        <p class="v2-copy">
          This is usually text that helps the user fill out the form
        </p>
      </div>

      <div class="form form--elizabeth" style="float:right;">
        <h3 class="v2-title v2-title--3">
        Green form
        </h3>
        <div class="form__control control">
          <label class="control__label label">
            Text input Label
          </label>
          <input class="control__input input input--text">
          </input>
        </div>
        <div class="form__control control">
          <label class="control__label label">
            Select box label
          </label>
          <div class="control__input input input--select">
            <select value="select">
              <option>Test option 1</option>
              <option>Test option 2</option>
            </select>
          </div>
        </div>

        <div class="form__control control">
          <label class="control__label label">
            Date of birth label
          </label>
          <p class="v2-copy control__support support">
            This is supporting text.
          </p>
          <input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
          </input>
        </div>

        <div class="form__control control control--valid">
          <label class="control__label label">
            Date Label
          </label>
          <div class="control__input control__input--shrink">
            <input class="input input--date" value="12/11/1978"/>
            <i class="control__alert v2-icon v2-icon--smallest v2-icon--tick"></i>
          </div>
        </div>

        <div class="form__control control control--invalid">
          <label class="control__label label">Are you a man or a boy?</label>
          <div class="control__input">


            <div class="radio-group">

              <label class="radio-group__item radio radio--selected">
                <input type="radio" class="radio__input" checked/> Man
              </label>

              <label class="radio-group__item radio">
                <input type="radio" class="radio__input"/> Boy
              </label>

            </div>

          </div>
          <div class="control__message">You are not!</div>
        </div>

      </div>
      <div style="clear:both"></div>

    </div>
  </div>

  <div class="panel panel--grey">
    <div class="form form--light form--white">
      <h3 class="v2-title v2-title--3">
      Provider login
      </h3>
      <div class="form__control control">
        <label class="control__label label">
          Email address
        </label>
        <p class="control__support support">
          Your provider email
        </p>
        <input class="control__input input input--text">
        </input>
      </div>
      <div class="form__control control">
        <label class="control__label label">
          Password
        </label>
        <input class="control__input input password input--text" type="password">
        </input>
      </div>
      <a class="v2-button v2-button--primary v2-button--icon-on-right js-resume t-resume-button" id="ga-inlink-resume-joining" href="/health-insurance/join/family-details">
        Login <i class="v2-icon v2-icon--smallest v2-icon--chevron-circle-inverse v2-icon--offset-descenders"></i>
      </a>
    </div>
  </div>

  <div class="panel">
    <div class="form form--light form--grey">
      <h3 class="v2-title v2-title--3">
      Provider login
      </h3>
      <div class="form__control control">
        <label class="control__label label">
          Email address
        </label>
        <p class="control__support support">
          Your provider email
        </p>
        <input class="control__input input input--text">
        </input>
      </div>
      <div class="form__control control">
        <label class="control__label label">
          Password
        </label>
        <input class="control__input input password input--text" type="password">
        </input>
      </div>
      <a class="v2-button v2-button--primary v2-button--icon-on-right js-resume t-resume-button" id="ga-inlink-resume-joining" href="/health-insurance/join/family-details"> Login <i class="v2-icon v2-icon--smallest v2-icon--chevron-circle-inverse v2-icon--offset-descenders"></i> </a>
    </div>
  </div>

</div>
</div>
