---
title:      Form
---

<div class="page">
    <div class="page__body">
    	<div class="form">
    			<div class="form__control control">
    				<label class="control__label label">
    				Label
    				</div>
    				<input class="control__input input">
    				</div>
    			</div>
    	</div>
    </div>
</div>
