---
title:      Form
---

<div class="page">
    <div class="page__body">
    	<div class="form form--white">
                <h3 class="v2-title v2-title--3">
                    White form title
                </h3>
    			<div class="form__control control">
    				<label class="control__label label">
    				Your name
    				</label>
    				<input class="control__input input input--text">
    				</input>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Select box label
    				</label>
                    <p class="control__support support">
                    Supporting text
                    </p>
                    <div class="control__input input input--select">
        				<select value="select">
                            <option>Test option 1</option>
                            <option>Test option 2</option>
        				</select>
                    </div>    
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Date of birth label
    				</label>
    				<input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
    				</input>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Date Label
    				</label>
    				<input class="control__input input input--date" type="date">
    				</input>
    			</div>
    	</div>

    	<div class="form form--elizabeth">
                <h3 class="v2-title v2-title--3">
                    Green form
                </h3>
                <div class="form__control control">
                    <label class="control__label label">
                    Text input Label
                    </label>
                    <input class="control__input input input--text">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Select box label
                    </label>
                    <div class="control__input input input--select">
                        <select value="select">
                            <option>Test option 1</option>
                            <option>Test option 2</option>
                        </select>
                    </div>  
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Date of birth label
                    </label>
                    <p class="v2-copy control__support support">
                    This is supporting text.
                    </p>
                    <input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Date Label
                    </label>
                    <input class="control__input input input--date" type="date">
                    </input>
                </div>
    	</div>

        <div class="form form--white">
                <h3 class="v2-title v2-title--3">
                    Provider login
                </h3>
                <div class="form__control control">
                    <label class="control__label label">
                    Email address
                    </label>
                    <p class="control__support support">
                    Your provider email
                    </p>
                    <input class="control__input input input--text">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Password
                    </label>
                    <input class="control__input input password input--text" type="password">
                    </input>
                </div>
                <a class="v2-button v2-button--primary v2-button--icon-on-right js-resume t-resume-button" id="ga-inlink-resume-joining" href="/health-insurance/join/family-details"> Login <i class="v2-icon v2-icon--smallest v2-icon--chevron-circle-inverse v2-icon--offset-descenders"></i> </a>
        </div>
    </div>
</div>
