---
title:      Form
---

<div class="page">
    <div class="page__body">
    	<div class="form form--white">
    			<div class="form__control control">
    				<label class="control__label label">
    				Text input Label
    				</label>
    				<input class="control__input input">
    				</input>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Select box label
    				</label>
                    <p class="control__support support">
                    Supporting text
                    </p>
                    <div class="control__input input input--select">
        				<select value="select">
                            <option>Test option 1</option>
                            <option>Test option 2</option>
        				</select>
                    </div>    
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Date of birth label
    				</label>
    				<input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
    				</input>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Date Label
    				</label>
    				<input class="control__input input input--date" type="date">
    				</input>
    			</div>
    	</div>

    	<div class="form form--elizabeth">
                <div class="form__control control">
                    <label class="control__label label">
                    Text input Label
                    </label>
                    <input class="control__input input">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Select box label
                    </label>
                    <div class="control__input input input--select">
                        <select value="select">
                            <option>Test option 1</option>
                            <option>Test option 2</option>
                        </select>
                    </div>  
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Date of birth label
                    </label>
                    <p class="v2-copy control__support support">
                    This is supporting text.
                    </p>
                    <input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Date Label
                    </label>
                    <input class="control__input input input--date" type="date">
                    </input>
                </div>
    	</div>
    </div>
</div>
