---
title:      Form
---

<div class="page">
    <div class="page__body">
    	<div class="form form--white">
    			<div class="form__control control">
    				<label class="control__label label">
    				Text input Label
    				</label>
    				<input class="control__input input">
    				</input>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Select box label
    				</label>
    				<select class="control__input input input--select">
                        <option>Test option 1</option>
                        <option>Test option 2</option>
    				</select>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Date of birth label
    				</label>
    				<input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
    				</input>
    			</div>
    			<div class="form__control control">
    				<label class="control__label label">
    				Date Label
    				</label>
    				<input class="control__input input input--date" type="date">
    				</input>
    			</div>
    	</div>

    	<div class="form form--green">
                <div class="form__control control">
                    <label class="control__label label">
                    Text input Label
                    </label>
                    <input class="control__input input">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Select box label
                    </label>
                    <select class="control__input input input--select">
                        <option>Test option 1</option>
                        <option>Test option 2</option>
                    </select>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Date of birth label
                    </label>
                    <input class="control__input input input--dob" maxlength="10" placeholder="dd/mm/yyyy">
                    </input>
                </div>
                <div class="form__control control">
                    <label class="control__label label">
                    Date Label
                    </label>
                    <input class="control__input input input--date" type="date">
                    </input>
                </div>
    	</div>
    </div>
</div>
