---
title:      Section Home
---

<div class="nib-body nib-body--white">

  <section class="hero-panel">
    <h1 class="hero-panel__title">This is a hero title</h1>
    <p class="hero-panel__subtitle">This is a hero subheading</p>
    <button class="hero-panel__action">Act now!</button>
  </section>

  <section class="feature-panel feature-panel--left">
    <img class="feature-panel__image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"/>
    <div class="feature-panel__content">
      <h2 class="feature-panel__title">This is a feature title</h2>
      <p class="feature-panel__description">This is feature copy</p>
      <button class="feature-panel__action">Act now!</button>
      <p class="feature-panel__disclaimer">*Provided you don't do anything silly!</p>
    </div>
  </section>

  <section class="feature-panel feature-panel--right">
    <img class="feature-panel__image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"/>
    <div class="feature-panel__content">
      <h2 class="feature-panel__title">This is a feature title</h2>
      <p class="feature-panel__description">This is feature copy</p>
      <button class="feature-panel__action">Act now!</button>
      <p class="feature-panel__disclaimer">*Provided you don't do anything silly!</p>
    </div>
  </section>

</div>
